<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/core-animated-pages/core-animated-pages.html">
<link rel="import" href="../../bower_components/core-animation/core-animation.html">
<link rel="import" href="flow-data.html">
<link rel="import" href="flow-trigger.html">
<link rel="import" href="execution-status.html">
<link rel="import" href="../services/trigger-service.html">

<polymer-element name="flow-card" attributes="flowId">
    <template>
        <style>
            /* general styles */
            :host {
                display: block;
                position: relative;
                background-color: white;
                padding: 20px;
                width: 100%;
                font-size: 1.2rem;
                font-weight: 300;
            }

            #flow.core-selected {
                position: inherit;
            }

            #trigger.core-selected {
                position: inherit;
            }

            #monitor.core-selected {
                position: inherit;
            }

            paper-fab.nav-next {
                position: absolute;
                top: -25px;
                right: -15px;;
            }

            /* fade in animation */
            .fadeIn {
                animation-name: fadeIn;
                -webkit-animation-name: fadeIn;

                animation-duration: 1.5s;
                -webkit-animation-duration: 1.5s;

                animation-timing-function: ease-in-out;
                -webkit-animation-timing-function: ease-in-out;

                visibility: visible !important;
            }

            @keyframes fadeIn {
                0% {
                    transform: scale(0);
                    opacity: 0.0;
                }
                60% {
                    transform: scale(1.1);
                }
                80% {
                    transform: scale(0.9);
                    opacity: 1;
                }
                100% {
                    transform: scale(1);
                    opacity: 1;
                }
            }

            @-webkit-keyframes fadeIn {
                0% {
                    -webkit-transform: scale(0);
                    opacity: 0.0;
                }
                60% {
                    -webkit-transform: scale(1.1);
                }
                80% {
                    -webkit-transform: scale(0.9);
                    opacity: 1;
                }
                100% {
                    -webkit-transform: scale(1);
                    opacity: 1;
                }
            }
        </style>
        <core-animated-pages id="pages" transitions="hero-transition cross-fade">
            <section id="flow">
                <div cross-fade hero hero-id="hero">
                    <flow-data on-next="{{next}}" flowId="{{flowId}}"></flow-data>
                </div>
            </section>
            <section id="trigger">
                <div cross-fade hero hero-id="hero">
                    <flow-trigger id="flowTriggering" cross-fade flowId="{{flowId}}"
                                  valid="{{formValidity}}" inputs="{{inputs}}"></flow-trigger>
                    <trigger-service id="triggerService" flowId="{{flowId}}" inputs="{{inputs | json}}" res="{{executionId}}"></trigger-service>
                </div>
            </section>
            <section id="monitor">
                <div cross-fade hero hero-id="hero">
                    <execution-status cross-fade executionId="{{executionId}}"></execution-status>
                </div>
            </section>
        </core-animated-pages>
        <template if="{{showArrow}}">
            <paper-fab class="nav-next fadeIn" on-tap="{{next}}" icon="arrow-forward" role="button"></paper-fab>
        </template>
    </template>
    <script>
        (function () {
            var PAGE_AMOUNT = 3;
            var FLOW_PAGE = 0;
            var TRIGGER_PAGE = 1;
            var MONITOR_PAGE = 2;

            function triggerFlow(service) {
                service.trigger();
            }

            Polymer('flow-card', {
                observe      : {
                    "$.pages.selected": "btnVisibility",
                    "formValidity"    : "btnVisibility"
                },
                json : function(obj) {
                    return JSON.stringify(obj);
                },
                showArrow    : true,
                formValidity : true,
                executionId  : null,
                btnVisibility: function () {
                    if (this.$.pages.selected == TRIGGER_PAGE) {
                        this.showArrow = this.formValidity;
                    } else if (this.$.pages.selected === (PAGE_AMOUNT - 1)) {
                        this.showArrow = false;
                    }
                },
                next         : function () {
                    if (this.$.pages.selected === TRIGGER_PAGE) {
                        triggerFlow(this.$.triggerService);
                    }

                    // move to next page
                    this.$.pages.selected += 1;
                }
            });
        })();
    </script>
</polymer-element>
