<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/core-icon-button/core-icon-button.html">
<link rel="import" href="../../bower_components/paper-fab/paper-fab.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../services/inputs-service.html">

<polymer-element name="flow-trigger" attributes="flowId valid inputs">
    <template>
        <style>
            paper-input {
                width: 100%;
            }
        </style>
        <inputs-service flowId="{{flowId}}" res="{{flowInputs}}"></inputs-service>
        <form>
            <template repeat="{{input in flowInputs}}">
                <paper-input
                        on-input="{{inputChanged}}"
                        inputValue="{{input.value}}"
                        label="{{input.name}}"
                        floatingLabel="true"></paper-input>
            </template>
        </form>
    </template>
    <script>
        (function () {
            function isFormValid(inputs) {
                return inputs
                        .map(function (el) {
                            if (el.mandatory) {
                                return el.value != "" && el.value != null && el.value != undefined;
                            } else {
                                return true;
                            }
                        }).reduce(function (el, acc) {
                            return el && acc;
                        }, true);
            }

            function extractInputs(inputs) {
                return inputs
                        .map(function (el) {
                            return {key: el.name, value: el.value};
                        }).filter(function (el) {
                          return el.value;
                        }).reduce(function (acc, el) {
                            acc[el.key] = el.value;
                            return acc;
                        }, {});
            }

            Polymer('flow-trigger', {
                flowInputs      : null,
                valid           : false,
                flowInputsChanged   : function () {
                    this.valid = isFormValid(this.flowInputs);
                    this.inputs = extractInputs(this.flowInputs);
                },
                inputChanged: function () {
                    this.valid = isFormValid(this.flowInputs);
                    this.inputs = extractInputs(this.flowInputs);
                },
                ready           : function () {
                    this.inputs = {};
                    this.flowInputs = [];
                }
            });
        })();
    </script>
</polymer-element>
