<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/font-roboto/roboto.html">
<link rel="import" href="../../bower_components/core-header-panel/core-header-panel.html">
<link rel="import" href="../../bower_components/core-toolbar/core-toolbar.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/core-icon/core-icon.html">
<link rel="import" href="flow-list.html">

<polymer-element name="oo-portal">
    <template>
        <style>
            :host {
                height: 100%;
                margin: 0;
                background-color: #E5E5E5;
                font-family: 'RobotoDraft', sans-serif;
            }

            core-header-panel {
                height: 100%;
                overflow: auto;
                -webkit-overflow-scrolling: touch;
            }

            core-toolbar {
                background: #03a9f4;
                color: white;
            }

            .container {
                width: 80%;
                margin: 50px auto;
            }

            #search-bar {
                width: 300px;
                height: 100%
            }

            @media (min-width: 481px) {
                .container {
                    width: 400px;
                }

                #search-bar {
                    width: 440px;
                }
            }

            input {
                background-color: inherit;
                border: none;
                font-size: 20px;
                outline: 0;
                padding: 0;
                color: black;
                -webkit-box-flex: 1;
                -webkit-flex: 1 0 0;
                -moz-flex: 1 0 0;
                -ms-flex: 1 0 0;
                -o-flex: 1 0 0;
                flex: 1 0 0;
                -webkit-appearance: none;
            }
        </style>
        <core-header-panel>
            <core-toolbar layout vertical center>
                <core-icon icon="search"></core-icon>
                <input type="search" id="search-bar" label="type a name of a flow" autocomplete="off">
            </core-toolbar>
            <div class="container" layout vertical center>
                <flow-list filter="{{filter}}"></flow-list>
            </div>
        </core-header-panel>
    </template>
    <script>
        (function () {
            Polymer('oo-portal', {
                ready: function () {
                    var search = document.querySelector('#search-bar');
                    var flowList = document.querySelector('flow-list');
                }
            });
        })();
    </script>
</polymer-element>
